:root {
  --primary-color: #ed9a4a;
  /* --secondary-color: #c20000; */
  --secondary-color: #bc252c;
  --bg-color: #f4e1b7;
  --dark-color: rgba(0, 0, 0, 0.85);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  font-family: 'Raleway', sans-serif;
  color: var(--dark-color);
  background-color: var(--bg-color);
}

a,
h3 {
  color: var(--bg-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul > li {
  padding: 0;
}

header,
main,
h1,
h2 {
  font-family: 'Staatliches', cursive;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

/* NAV BAR------------------------------------------------*/
header {
  background: var(--dark-color);
  width: 100vw;
  /* position: sticky;
  top: 0;
  z-index: 10; */
}

.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 100%;
  display: flex;
}

.logo p {
  font-size: 2em;
  padding: 0 5px;
  text-transform: uppercase;
}

.logo p:nth-child(1) {
  background-color: var(--bg-color);
}

.logo p:nth-child(2) {
  background-color: var(--primary-color);
}

.logo p:nth-child(3) {
  background-color: var(--secondary-color);
}

nav {
  width: 700px;
  min-width: 600px;
  /* border: 1px solid red; */
  margin-left: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 10px;
  position: relative;
}

nav a {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
}

nav a:hover {
  color: var(--bg-color);
  font-weight: 550;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--bg-color);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
/* END OF NAVBAR */

main {
  height: 80vh;
  background-color: var(--bg-color);
  padding: 25px 80px 25px 80px;
}

a {
  text-decoration: none;
}

.poster-b {
  height: 100%;
  width: 540px;
  margin: 0 auto;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: auto auto;
  /* border: solid 1px red; */
  transform: rotate(-15deg);
}

.area-fullname {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 20px;
  color: var(--dark-color);
  border-left: 5px solid var(--dark-color);
  border-bottom: 5px solid var(--dark-color);
  justify-self: end;
}

.name {
  font-size: 4.5em;
}

.box1 {
  width: 150px;
  margin: 20px;
  justify-self: end;
  background-color: var(--primary-color);
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.v-line {
  width: 1em;
  background-color: var(--dark-color);
}

.area-iam {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 20px;
  color: var(--dark-color);
  background-color: var(--secondary-color);
  justify-self: start;
}

.area-job {
  padding: 15px 25px;
  font-size: 2em;
  color: var(--dark-color);
}

.area-iknow {
  font-size: 1.2em;
  color: var(--dark-color);
  padding: 10px;
  align-self: end;
  border-bottom: 5px dotted var(--dark-color);
}

.habilities {
  list-style: none;
  padding: 20px;

  align-self: end;
  /* border-left: 5px solid var(--dark-color); */
}

.habilities a {
  color: var(--secondary-color);
}

/* PAGES CONTENT */
section {
  padding: 60px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.btn-gotop {
  position: absolute;
  top: 10px;
  right: 10px;
}

.abt-content {
  text-align: center;
}

.aboutme {
  position: relative;
  color: var(--primary-color);
  background-color: var(--dark-color);
}

.aboutme .abt-content {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 2fr;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  justify-items: center;
  line-height: 2.5;
}

.aboutme .abt-item {
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  margin-bottom: 40px;
}

.aboutme .abt-item-doubleinfo {
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  margin-bottom: 40px;
  display: flex;
}

.aboutme ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.aboutme .skills-icons {
  margin: 20px 0px 0px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.portfolio {
  position: relative;
  color: var(--dark-color);
  background-color: var(--bg-color);
}

.portfolio .btn-gotop {
  color: var(--dark-color);
}

.portfolio .pf-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 80px;
}

/* START OF PORTFOLIO IMG AREA */
.clickable-img {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.4s;
}

.clickable-img-raster {
  width: 100%;
}

.clickable-img-icon {
  z-index: 100;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.clickable-img-icon-bg {
  z-index: 50;
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.clickable-img:hover {
  opacity: 0.7;
}

.clickable-img:hover .clickable-img-icon-bg {
  opacity: 0.3;
}

.clickable-img:hover .clickable-img-icon {
  opacity: 0.7;
}

/* END OF PORTFOLIO IMG AREA */

.portfolio h3 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.portfolio .card {
  width: 100%;
  color: var(--bg-color);
  background-color: var(--dark-color);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.portfolio .card .card-body {
  padding: 30px;
}

.portfolio .title-icons-area {
  width: 100%;
  margin: 0px 0 10px 0;
  display: flex;
  /* border: 1px solid red; */
}

.portfolio .title-icons-area h3 {
  margin-top: 5px;
  flex: 2 1;
}

.portfolio i {
  padding: 0 5px;
  cursor: pointer;
  color: var(--primary-color);
}

.portfolio i:hover {
  padding: 0 5px;
  color: var(--bg-color);
}

.contact {
  position: relative;
  height: 30vh;
  color: var(--bg-color);
  background-color: var(--secondary-color);
  text-align: center;
}

footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-color);
  color: var(--bg-color);
  text-align: center;
  line-height: 2em;
  padding: 50px;
}

footer a {
  color: var(--primary-color);
}

ion-icon {
  font-size: 48px;
}
